## 1179. Reformat Department Table

Easy

In [2]:
%%html
<style>
table {float:left}
</style>

Table: `Department`

| Column Name |   Type  |
|:-----------:|:-------:|
|      id     |   int   |
|   revenue   |   int   |
|    month    | varchar |

(id, month) is the primary key of this table. <br>
The table has information about the revenue of each department per month. <br>
The month has values in ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"].

Write an SQL query to reformat the table such that there is a department id column and a revenue column for each month.

The query result format is in the following example:

Department Table:

| id | revenue | month |
|:--:|:-------:|-------|
|  1 |   8000  | Jan   |
|  2 |   9000  | Jan   |
|  3 |  10000  | Feb   |
| 1  | 7000    | Feb   |
| 1  | 6000    | Mar   |

Result Table: 
    
| id | jan_rev | feb_rev | mar_rev | ... | dec_rev |
|:--:|:-------:|:-------:|:-------:|:---:|:-------:|
|  1 |   8000  |   7000  |   6000  |     |   null  |
|  2 |   9000  |   null  |   null  |     |   null  |
|  3 |   null  |  10000  |   null  |     |   null  |

Note that the result table has 13 columns (1 for the department id + 12 for the months).

### Solution 1:

In [ ]:
SELECT id, 
       SUM(CASE WHEN month = 'Jan' THEN revenue ELSE null END) AS 'Jan_Revenue',
       SUM(CASE WHEN month = 'Feb' THEN revenue ELSE null END) AS 'Feb_Revenue',
       SUM(CASE WHEN month = 'Mar' THEN revenue ELSE null END) AS 'Mar_Revenue',
       SUM(CASE WHEN month = 'Apr' THEN revenue ELSE null END) AS 'Apr_Revenue',
       SUM(CASE WHEN month = 'May' THEN revenue ELSE null END) AS 'May_Revenue',
       SUM(CASE WHEN month = 'Jun' THEN revenue ELSE null END) AS 'Jun_Revenue', 
       SUM(CASE WHEN month = 'Jul' THEN revenue ELSE null END) AS 'Jul_Revenue',
       SUM(CASE WHEN month = 'Aug' THEN revenue ELSE null END) AS 'Aug_Revenue',
       SUM(CASE WHEN month = 'Sep' THEN revenue ELSE null END) AS 'Sep_Revenue',
       SUM(CASE WHEN month = 'Oct' THEN revenue ELSE null END) AS 'Oct_Revenue',
       SUM(CASE WHEN month = 'Nov' THEN revenue ELSE null END) AS 'Nov_Revenue',
       SUM(CASE WHEN month = 'Dec' THEN revenue ELSE null END) AS 'Dec_Revenue'
FROM Department
Group BY id

### Solution 2:

In [ ]:
SELECT DISTINCT D.id,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Jan' AND D.id = m.id) AS Jan_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Feb' AND D.id = m.id) AS Feb_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Mar' AND D.id = m.id) AS Mar_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Apr' AND D.id = m.id) AS Apr_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'May' AND D.id = m.id) AS May_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Jun' AND D.id = m.id) AS Jun_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Jul' AND D.id = m.id) AS Jul_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Aug' AND D.id = m.id) AS Aug_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Sep' AND D.id = m.id) AS Sep_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Oct' AND D.id = m.id) AS Oct_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Nov' AND D.id = m.id) AS Nov_Revenue,
    (SELECT SUM(revenue) FROM Department m WHERE m.month = 'Dec' AND D.id = m.id) AS Dec_Revenue
FROM Department D

### Solution 3:
(MS SQL Server)

In [ ]:
SELECT * 
FROM
    (SELECT id,revenue, month+'_revenue' as rev_mth
     FROM Department) t
PIVOT
(SUM(revenue) FOR rev_mth IN ([Jan_revenue],[Feb_revenue],[Mar_revenue],
                              [Apr_revenue],[May_revenue],[Jun_revenue],
                              [Jul_revenue],[Aug_revenue],[Sep_revenue],
                              [Oct_revenue],[Nov_revenue],[Dec_revenue])) AS pivot_table;